---
title: About April
username : Aprilcai
email1: 1097311105@qq.com
email2: terrytsaic@gmail.com
company: Tencent
---
<!doctype html>
<html>
	
	{% include header.html %}

	<body>

		{% include nav.html %}

		<div class="article-container" style="height: 100%;">	
			{{ page.title }}

			<dl class="intro">
				<dt>Name: </dt>
				<dd>{{ page.username }}</dd>

				<dt>Email: </dt>
				<dd>{{ page.email1 }}</dd>
				<dd>{{ page.email2 }}</dd>

				<dt>Company: </dt>
				<dd>{{ page.company }}</dd>
			</dl>
		</div>		
	</body>
<html>